/build
/.idea
/.gradle
/local.properties
.DS_Store
*.iml
*.log
*.apk
*.ap_
*.hprof
*.orig
*.pyc
*.swp
*.tmp
*.temp
*.bak
*.old
*.sublime-project
*.sublime-workspace
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.keystore
*.jks
*.dex
*.o
*.obj
*.so
*.exe
*.dll
*.pdb
*.lib
*.a
*.la
*.lo
*.swo
*.swn
